.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  line-height: 1.1;
  color: #000000;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
}

.contatos {
  color: black;
  font-size: 2rem;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex: 1;
  background: rgb(255, 1, 242);
  padding: 5px;
  border-radius: 10px;
  display: flexbox;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.contatos:hover {
  background-color: white;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #f8f8f859;
  border: 2px solid rgba(123, 255, 0, 0.445);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
