.titulo {
  color: white;
  font-size: 2rem;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex: 1;
  background: black;
  padding: 5px;
  border-radius: 10px;
  display: flexbox;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
.github {
  color: white;
  font-size: 2rem;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex: 1;
  background: #000000;
  padding: 5px;
  border-radius: 10px;
  display: flexbox;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
.github:hover {
  background-color: gray;
}
.instagram {
  color: black;
  font-size: 2rem;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex: 1;
  background: white;
  padding: 5px;
  border-radius: 10px;
  display: flexbox;
  flex-direction: column;
}
.instagram:hover {
  background-color: gray;
}
:root {
  --colorBack: #0a0a0a;
  --colorpurple: #fcf9f9;
  --colorGrey: #0a0a0a;
}
.container span {
  color: #f5f3f3;
  font-family: "Special Elite", monospace;
  font-size: 2.3em;
  align-items: center;
  display: flexbox;
  max-width: 1200px;
  padding: 2px 2px;
  flex-direction: line;
  gap: 2px;
  padding: 1px;
  animation-name: brilho;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.container span:nth-of-type(2) {
  animation-delay: 0.25s;
}
.container span:nth-of-type(3) {
  animation-delay: 0.5s;
}
.container span:nth-of-type(4) {
  animation-delay: 0.75s;
}
.container span:nth-of-type(5) {
  animation-delay: 1s;
}
.container span:nth-of-type(6) {
  animation-delay: 1.25s;
}
.container span:nth-of-type(7) {
  animation-delay: 1.5s;
}
.container span:nth-of-type(8) {
  animation-delay: 1.75s;
}
.container span:nth-of-type(9) {
  animation-delay: 2s;
}
.container span:nth-of-type(10) {
  animation-delay: 2.25s;
}
.container span:nth-of-type(11) {
  animation-delay: 2.5s;
}
.container span:nth-of-type(12) {
  animation-delay: 2.75s;
}
.container span:nth-of-type(14) {
  animation-delay: 3s;
}
@keyframes brilho {
  0% {
    color: white;
    text-shadow: 0 0 15px var(--colorpurple), 0 0 500px var(--colorpurple),
      0 0 100px var(--colorpurple);
  }
  10%,
  90% {
    color: var(--colorGrey);
    text-shadow: none;
  }
}
.button {
  display: flex;
  justify-content: center;

  position: relative;

  padding: 12px 0;

  font-family: "Inter";
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;

  color: #f6f6f6;
  border: 1px solid rgb(123, 255, 0);
  text-decoration: none;

  overflow: hidden;
  cursor: pointer;
}

.button::before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;

  background: rgb(123, 255, 0);

  transition: all 0.5s;
  z-index: -1;
}
/*========================*/

/* First item - Button 1*/
.item1::before {
  width: 0;
  height: 100%;

  top: 0%;
  left: 0%;
}

.botton1:hover::before {
  width: 100%;
}
.button-inter {
  display: flex;
  justify-content: center;

  position: relative;

  margin: 0;
  padding: 12px 0;

  font-family: "Inter";
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;

  color: #f6f6f6;
  border: 1px solid rgb(123, 255, 0);

  text-decoration: none;
  cursor: pointer;

  transition: 0.5s;
}

/*EFEITO DE HOVER INTERMEDIÁRIO*/
/* First intermediário - Button 1*/
.item1:hover {
  background: rgb(162, 218, 8) url(pixel.png);
  background-size: 100%;

  transition-delay: 0.1s;
  animation: animate1 0s steps(8) forwards;
}

@keyframes animate1 {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
