body {
  background-color: white;
  font-family: "Inter", sans-serif; /* Adicionando fonte para todo o corpo */
}

.header {
  font-size: 2rem;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  position: relative; /* Para ajustar o efeito de hover */
  overflow: hidden; /* Para ocultar o overflow do efeito de fundo */
}

.header-menu a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 231, 230, 0.863) url('pixel.png');
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.3s ease; /* Transição suave de opacidade */
}

.header-menu a:hover::after {
  opacity: 1;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 20px; /* Reduzindo o espaço entre os itens no modo responsivo */
    padding: 20px;
  }

  .header-menu {
    flex-direction: column; /* Ajustando para coluna no modo responsivo */
    gap: 10px; /* Espaçamento entre os itens */
  }

  .header-menu a {
    padding: 15px 20px; /* Aumentando o padding para melhor touch target */
    text-align: center; /* Centralizando o texto */
  }
}